@font-face { font-family: pixel; src: url("Azonix.ttf"); }
@font-face { font-family: pixel2; src: url("TTOctosquaresTrialLight.ttf"); }



body{
    display: flex;
    background-color: white;
    background-image: linear-gradient(45deg, #ff63f2, #ffa7d0, #fad179, #ffcc40, #fdab11,  #ff9100,  #ff7b00, #ff5e00, #f558a1, #b12ca6);
    background-size: 400%;
    animation: bg-animation 12s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.loginback{
    width: 500px;
    height: 600px;
    position: fixed;
    left: 700px;
    top: 180px;
    background-color: white / 30%;
    border: 1px solid white;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.logintext{
    font-family: pixel;
    font-size: 40px;
    position: fixed;
    left: 170px;
    top: 10px;
    color: white;

}

.emailtext{
    font-family: pixel;
    color: white;
    font-size: 25px;
    position: fixed;
    left: 20px;
    top: 110px;
}

.email{
    width: 445px;
    height: 40px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    font-family: pixel;
    color: white;
    position: fixed;
    left: 20px;
    top: 170px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 20px;
    
}

.passtext{
    font-family: pixel;
    color: white;
    font-size: 25px;
    position: fixed;
    left: 20px;
    top: 210px;
}

.pass{
    width: 445px;
    height: 40px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    font-family: pixel;
    color: white;
    position: fixed;
    left: 20px;
    top: 270px;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
}


.confirm{
    width: 300px;
    height: 40px;

    border-radius: 30px;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
    font-family: pixel;
    color: white;

    position: fixed;
    top: 350px;
    left: 100px;
    transition-duration: 0.4s;

}

.confirm:hover{ 
    color: white;
    
    background-image: linear-gradient(45deg, #ff63f2, #ffa7d0, #fad179, #ffcc40, #fdab11,  #ff9100,  #ff7b00, #ff5e00, #f558a1, #b12ca6);
    background-size: 400% 400%;
    animation: animate 3s ease-in-out infinite alternate;
}

@keyframes animate {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}


.signup{
    width: 300px;
    height: 40px;

    border-radius: 30px;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
    font-family: pixel;
    color: white;

    position: fixed;
    top: 400px;
    left: 100px;
    transition-duration: 0.4s;

}


.signup:hover{ 
    color: white;
    
    background-image: linear-gradient(45deg, #ff63f2, #ffa7d0, #fad179, #ffcc40, #fdab11,  #ff9100,  #ff7b00, #ff5e00, #f558a1, #b12ca6);
    background-size: 400% 400%;
    animation: animate2 3s ease-in-out infinite alternate;
}

@keyframes animate2 {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.git{
    width: 40px;
    height: 40px;
    position: fixed;
    left: 230px;
    top: 530px;
}
